.table{
 margin: auto;
border: 2px solid black;
border-width: thick;
width: 817px;
padding: 30px 37px;
background: #B1D3DC;
box-sizing: border-box;
clear: both;
}
th,td{
padding: 12px;
border: 2px solid black;
outline: 2px dotted blue;
text-align: center;
}
*{
background-color: #D5D6EA;
}

#nm{
    margin: 0.25em 1em;
    padding: 0.25em 11em 0em 1em;
    /* float: left;
/* float: left; */

}
#yr{
    margin: 0em 1em;
    padding: 0.5em 0em 1em 29.5em;
/* float: right; */


}

#sc{

    margin: 0.25em 1em;
    padding: 0.25em 11em 0em 1em;

}
#head{
    border: 3px solid black;
    margin: 4em 1.2em;
    padding: 1em 1em;
    width: 76em;
    box-sizing: border-box;
}
#rgd{
    margin: 0em 1em;
    padding: 0.5em 0em 1em 25.5em;
}
.name{
width: 48%;
border-radius: 2px 2px;
box-sizing: border-box;
}
#head2{
    display: flex;
    box-sizing: border-box; 
}
#head1 {
display: flex;
box-sizing: border-box; 
}
.nt{
color: red;
font-weight: bold;
}
.cl{
color: #000;
font-weight: 100;
font-size: small;
}
.hd{
    display: block;
    /* border: 2px solid black; */
    /* margin: auto; */
    /* align-content: center; */
    width: 22em;
    /* justify-self: center; */
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    text-decoration: underline;
}
.bd{
    margin: 2em 2em;
    padding: 2em 0em;
    align-items: center;
    /* border: 1em dotted black; */
    box-sizing: border-box
}
